.title {
    text-align: center;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.redv1 {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.redv2,
.redv3,
.redv4 {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main,
p,
.list1,
.list2,
.list3,
.rsrc {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

ul {
    text-align: center;
    list-style-position: inside;
}

ol {
    text-align: center;
    list-style-position: inside;
}