.title {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.redv1 {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main,
p,
.list1,
.list2,
.list3,
.rsrc {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
}