
div{
    color: white;
    background-color: red;
    font-size: 32px;
    align-items: center;
    font: bold;
}

.main {
    text-align: center;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}